{{template "base.html" . }} {{define "content"}}
{{ .page.Body }}
<hr />
<div class="articles-container mt-3">
    <h1> <strong>Todos os artigos</strong></h1>
</div>
{{ range .posts }}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <a href="/home/articles/{{ .Slug }}" class="btn btn-primary">Ler mais >></a>
        <p class="card-text"><small class="text-muted">{{ .CreatedAt }}</small></p>
    </div>
</div>
{{ end }}

<div>
    Page {{ .pagination }}/{{ .pageCount }}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {{ if .prevPage }}
        <li class="page-item"><a class="page-link" href="/home?page={{ .prevPage }}">Previous</a></li>
        {{ end }}

        {{ range .pages }}
        {{ if eq . $.pagination }}<li class="page-item current"><strong>{{ . }}</strong></li>
        {{ else }} <li class="page-item"><a class="page-link" href="/home?page={{ . }}">{{ . }}</a></li>
        {{ end }}
        {{ end }}

        {{ if .nextPage }}
        <li class="page-item"><a class="page-link" href="/home?page={{ .nextPage }}">Next</a></li>
        {{ end }}
    </ul>
</nav>
{{end}}